doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Ubercart to Opencart Migration

		link(rel='stylesheet', href='/assets/css/bootstrap.css')
		
	body

		div
			button#start(class="btn btn-lg btn-primary") Start Migration
			#status
			#progress
					
		script(type="text/javascript", src='//code.jquery.com/jquery-2.1.1.min.js')
		script(type="text/javascript", src='/assets/js/libs/bootstrap.min.js')
		script(type="text/javascript", src='/socket.io/socket.io.js')
		script(type="text/javascript", src='/app.js')